# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CLion Files
cmake-build-debug
CMakeLists.txt
.idea
.vscode

# Falcon Files
modulesproject/main.exe
modulesproject/modulesproject.exe
modulesproject/modulesproject.fpj
modulesproject/modulesproject.layout
modulesproject/mymath.cpp